<link rel="stylesheet" href="/static/css/footer.css" />
<footer>
  <div class="footer">
    <ul>
      <li><a href="">사이트 도움말</a></li>
      <li><a href="">사이트 이용약관</a></li>
      <li><a href="">사이트 운영원칙</a></li>
      <li><a href="">개인정보취급방침</a></li>
      <li><a href="">책임의 한계와 법적고지</a></li>
      <li><a href="">게시중단요청</a></li>
      <li><a href="">고객센터</a></li>
    </ul>
    <ul>
      <li>Tel)xxx-xxxx-xxxx</li>
      <li>주소:서울 특별시 xx구 xx동 x길 x</li>
      <li>업체명:맛조</li>
      <li>e-mail : xxxxxxxx@matjo.com</li>
    </ul>
    <span>ⓒ MATJO</span>
  </div>
</footer>
