<div class="userInfoCk MP">
  <h3>이력서 추가</h3><hr><br />
  <div class="wrap">
    <div class="content2">
      <div id="form-register" action="/user/saveIntroudce" method="post">

        <!----- 개인 정보 가져오도록 수정필요 ------>
        <div class="proCont">
          <div id="name">신한나</div>
          <div id="email">data.email</div>
          <div id="loca">data.loca</div>
          <br />
          <hr><br />
        </div>


        <div class="Contt">
          <div>사용 가능 스택 선택</div>
        </div>
        <% var stackList=["JAVA", "Javascript" , "Python" , "R" , "C" , "C++" , "C#" , "PHP" , "Cobol" , "HTML" , "Linux"
          , "Kotlin" , "Dart" , "Go" ];%>
          <% for ( var i=0; i < stackList.length; i++ ) { %>
            <button type="button" class="normal_btn stackBtn" onclick="addStack(this.value)" value="<%= stackList[i] %>">
              <%= stackList[i] %>
            </button>
            <% } %>
              <br /><br /><br />

              <div class="Contt">
                <div>Career</div>
              </div>
              <div class="career"><button class="normal_btn plusBtn" type="button" onclick="addCar()"> +경력추가</button>
              </div>
              <br /><br />

              <div class="Contt">
                <div>Port Folio</div>
              </div>
              <input type="text" name="portfolio" value="" id="portfolio" />
              <br /><br />

              <div class="Contt">
                <div>짧은 자기소개</div>
              </div>
              <input type="text" name="etc" value="" id="etc" />
              <br />

              <div class="button modbtn">
                <button type="button" class="btnFade btnBlue sendBtn" id="submit" onclick="saveResume()">제출</button>
              </div>
      </div>
    </div>
  </div>
</div>

<script>
  // 경력 추가
  var i = 0;
  function addCar() {
    $('.career').append(`<div>경력<input id='year${i}' class='inText'>근무지<input id='place${i++}' class='inText'></div><br>`)
  }

  //stack 선택
  $("#stack").change(function () {
    let selected_stack = $("#stack option:selected").text();
    $("selected_list").appendTo(`<p>${selected_stack}</p>`);
    sendData("stack_lists", selected_stack);
  });

  var stackList = "";
  function addStack(stack) {
    $(`button[value$="${stack}"]`).css("background-color", "grey");
    $("#selected").append(
      `<button type="button" class="normal_btn" onclick="delStack('${stack}')" value="${stack}-checked"> ${stack}</button> %>`
    );
    $(`button[value$="${stack}"]`).attr("onclick", "delStack(this.value)");

    stackList += stack + "|";
    console.log(stackList);
  }
  function delStack(stack) {
    $(`button[value$="${stack}"]`).css(
      "background-color",
      "rgb(228, 228, 228)"
    );
    $(`button[value$="${stack}"]`).attr("onclick", "addStack(this.value)");
    $(`button[value$="${stack}-checked"]`).remove();
    stackList = stackList.replace(`${stack}|`, "");
    console.log(stackList);
  }
  //career value 값

  //링크 가져오기(portfolio)
  var get_URL = $("#portfolio").text();

  //자기소개
  var myself = $("#etc").val();
  /*   var ranges = document.getElementById("range");
  ranges.onchange = function () {
    sendElement("career", ranges.value);
  };*/


  //axios로 보내기
  function sendData(element, data) {
    axios({
      url: "",
      method: "post",
      data: {
        elements: element,
        datas: data,
      },
    }).then((response) => {
      res.send(response.data);
    });
  }


  function getCar() {
    var career = "";
    for (var j = 0; j < i; j++) {
      career = career + $(`#year${j}`).val() + '|' + $(`#place${j}`).val() + '|';
    }
    return career;

  }

  function saveResume() {
    var choose = $("#stack").val();
    var career = getCar();
    var portfolio = $("#link").val();
    var etc = $("#etc").val();
    window.location = '/';


    data = {
      stack: stackList,
      career: career,
      portfolio: portfolio,
      etc: etc
    };


    axios({
      url: "/user/saveIntroudce",
      method: "post",
      data: data,
    }).then((response) => {

    });
  }
</script>