<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
    crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
    integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/9376e8eed8.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <style>
    .user-Login {
      width: 80%;
      padding-top: 80px;
      margin-left: 150px;
      height: 900px;
      padding-top: 200px;
    }

    @media screen and (max-width: 1000px) {
      .user-Login {
        width: 80%;
        padding-top: 80px;
        margin-left: 100px;
        padding-top: 180px;
        height: 700px;
      }
    }

    .wrap {
      height: auto;
    }

    .border {
      height: auto;
      border: 1px solid lightslategray;
      border-radius: 20px;
      padding: 10px;
      height: auto;
    }

    .accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
    }

    .active,
    .accordion:hover {
      background-color: #ccc;
    }

    .accordion:after {
      content: "\002B";
      color: #777;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    .active:after {
      content: "\2212";
    }

    .panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      text-align: left;
      margin: 5px 5px;
    }

    .footer {
      position: absolute;
      height: auto;
      bottom: 0;
    }
  </style>
</head>

<body>
  <%-include("navbar_no_login.ejs") %>
    <div class="wrap">
      <form>
        <div class="user-Login">
          <!-- <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">uuid</span>
          <input id="uuid" type="text" class="form-control" placeholder="Nickname">
      </div> -->
          <div>
            <button class="accordion" id="userarc">User용</button>
            <div class="panel">
              <div class="border">
                <%-include("joinmemberUser.ejs") %>
              </div>
            </div>
            <button class="accordion" id="comparc">Company</button>
            <div class="panel">
              <div class="border">
                <%-include("joinMemberCompany.ejs") %>
              </div>
            </div>
          </div>
      </form>
    </div>
    <div class="footer">
      <%-include("footer.ejs") %>
    </div>
    <script>

      /*아이디 중복 체크*/
      function idCheck1() {
        var idInput = $("#id1").val();
        data = {
          id: idInput,
        };


        axios({
          url: "/joinMemberU/idcheck",
          method: "POST",
          data: data,
        }).then((response) => {
          if (response.data.result == 1) {
            alert('사용 불가 Id');
          }
        });
      }
      /*유저용 아이디 값 보내기*/
      function sendInfo1() {
        var id = $("#id1").val();
        var pw = $("#pw1").val();
        var name = $("#name1").val();
        var email = $("#email1").val();
        var location = $("#location1").val();

        data = {
          id: id,
          pw: pw,
          name: name,
          email: email,
          location: location,
        };

        axios({
          url: "/joinMemberU/join",
          method: "POST",
          data: data,
        }).then((response) => {
          if (response.data.result == 1) {
            window.location = '/';
          }
        });
      }

      var pw = document.getElementById("pw1");
      var confirm_pw = document.getElementById("confirm_pw1");


      /*유저 비밀번호 확인*/

      function validatePassword() {
        if (pw.value != confirm_pw.value) {
          // 만일 두 인풋 필드값이 같지 않을 경우
          // setCustomValidity의 값을 지정해 무조건 경고 표시가 나게 하고
          confirm_pw.setCustomValidity("Passwords Don't Match");
        } else {
          // 만일 두 인풋 필드값이 같을 경우
          // 오류가 없으면 메시지를 빈 문자열로 설정해야한다. 오류 메시지가 비어 있지 않은 한 양식은 유효성 검사를 통과하지 않고 제출되지 않는다.
          // 따라서 빈값을 주어 submit 처리되게 한다
          confirm_pw.setCustomValidity("");
        }
      }

      // pw.onchange = validatePassword;
      // confirm_pw.onkeyup = validatePassword;



      /* 아코디언*/

      var acc = document.getElementsByClassName("accordion");

      for (var i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + 300 + "px";
          }
        });
      }



      /* 기업용 중복아이디 체크*/




      function idCheck2() {
        var idInput = $("#id2").val();
        data = {
          id: idInput,
        };

        axios({
          url: "/joinMemberCompany/idcheck",
          method: "POST",
          data: data,
        }).then((response) => {
          if (response.data.result == 1) {
            alert('사용 불가 Id');
          }
        });
      }

      /* 기업 회원가입 정보 전송하기 */

      function sendInfo2() {
        var id = $("#id2").val();
        var pw = $("#pw2").val();
        var name = $("#name2").val();
        var email = $("#email2").val();
        var location = $("#location2").val();

        data = {
          id: id,
          pw: pw,
          name: name,
          email: email,
          location: location,
        };

        axios({
          url: "/joinMemberCompany/join",
          method: "POST",
          data: data,
        }).then((response) => {

          if (response.data.result == 1) {
            window.location = '/';
          }

        });
      }

      var pw = document.getElementById("pw2");
      var confirm_pw = document.getElementById("Cconfirm_pw2");


      /*회사용 비밀번호 중복 확인 검사*/

      function validatePassword() {
        if (pw.value != confirm_pw.value) {
          // 만일 두 인풋 필드값이 같지 않을 경우
          // setCustomValidity의 값을 지정해 무조건 경고 표시가 나게 하고
          confirm_pw.setCustomValidity("Passwords Don't Match");
        } else {
          // 만일 두 인풋 필드값이 같을 경우
          // 오류가 없으면 메시지를 빈 문자열로 설정해야한다. 오류 메시지가 비어 있지 않은 한 양식은 유효성 검사를 통과하지 않고 제출되지 않는다.
          // 따라서 빈값을 주어 submit 처리되게 한다
          confirm_pw.setCustomValidity("");
        }
      }

      // pw.onchange = validatePassword;
      // confirm_pw.onkeyup = validatePassword;

      /*아코디언 버튼 누르면 화면 조정 하기*/


    </script>
</body>

</html>