<div class="cotn_principal">
  <div class="cont_centrar">
    <div class="cont_login">
      <div class="cont_info_log_sign_up">
        <div class="col_md_login">
          <div class="cont_ba_opcitiy">
            <h2>USER</h2>
            <p>개인(개발자) 로그인</p>
            <button class="btn_login" onclick="user_login()">LOGIN</button>
          </div>
        </div>
        <div class="col_md_sign_up">
          <div class="cont_ba_opcitiy">
            <h2>CORPORATION</h2>
            <p>채용담당자 로그인</p>
            <button class="btn_sign_up" onclick="cor_login()">LOGIN</button>
          </div>
        </div>
      </div>

      <div class="cont_back_info">
        <div class="cont_img_back_grey"></div>
      </div>
      <div class="cont_forms">
        <!-- User 로그인창 -->
        <div class="cont_form_login">
          <h2>LOGIN</h2>
          <input type="text" value="ch_id" id="id" placeholder="ID" />
          <input
            type="password"
            value="ch_pw"
            id="pw"
            placeholder="Password"
            onkeypress="javascript:if(event.keyCode==13) {user_login(); main_login();}"
          />
          <button class="btn_login" onclick="user_login(); main_login();">
            LOGIN
          </button>
        </div>

        <!-- Company 로그인창 -->
        <div class="cont_form_sign_up">
          <h2>LOGIN</h2>
          <input type="text" value="id-test" id="id2" placeholder="ID" />
          <input
            type="password"
            value="pw-test"
            id="pw2"
            placeholder="Password"
            onkeypress="javascript:if(event.keyCode==13) {cor_login(); main_loginCorp();}"
          />
          <button
            class="btn_sign_up"
            onclick="cor_login(); main_loginCorp();"
          >
            LOGIN
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

    <script>
      // ** For Login
      function main_login() {
        var id = $("#id").val();
        var pw = $("#pw").val();
        var data = {
          id: id,
          pw: pw,
        };
        axios({
          url: "/userLogin",
          method: "POST",
          data: data,
        }).then((result) => {
          if ( result.data.login == 1 ){
            window.location = '/';
          }else{
            alert('login fail');
          }
        });
      }

  // ** For Login _ corp
  function main_loginCorp() {
    var id = $("#id2").val();
    var pw = $("#pw2").val();
    var data = {
      id: id,
      pw: pw,
    };
    console.log(data)
    axios({
      url: "/userLoginCompany",
      method: "POST",
      data: data,
    }).then((result) => {
      if ( result.data.login == 1 ){
            window.location = '/';
          }else{
            alert('login fail');
          }
    });
  }

  // user_login
  function user_login() {
    document.querySelector(".cont_forms").className =
      "cont_forms cont_forms_active_login";
    document.querySelector(".cont_form_login").style.display = "block";
    document.querySelector(".cont_form_sign_up").style.opacity = "0";

    setTimeout(function () {
      document.querySelector(".cont_form_login").style.opacity = "1";
    }, 400);

    setTimeout(function () {
      document.querySelector(".cont_form_sign_up").style.display = "none";
    }, 200);
  }

  // cor_login
  function cor_login(at) {
    document.querySelector(".cont_forms").className =
      "cont_forms cont_forms_active_sign_up";
    document.querySelector(".cont_form_sign_up").style.display = "block";
    document.querySelector(".cont_form_login").style.opacity = "0";

    setTimeout(function () {
      document.querySelector(".cont_form_sign_up").style.opacity = "1";
    }, 100);

    setTimeout(function () {
      document.querySelector(".cont_form_login").style.display = "none";
    }, 400);
  }

  // 이외 영역 클릭 시 로그인창 닫기
  $("body").click(function (e) {
    if ($(e.target).parents(".cont_login").length < 1) {
      document.querySelector(".cont_forms").className = "cont_forms";
      document.querySelector(".cont_form_sign_up").style.opacity = "0";
      document.querySelector(".cont_form_login").style.opacity = "0";

      setTimeout(function () {
        document.querySelector(".cont_form_sign_up").style.display = "none";
        document.querySelector(".cont_form_login").style.display = "none";
      }, 500);
    }
  });
</script>
