@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

.wrap{
    padding: 0;
    margin: 0;

}
.content1{
    padding-top: 80px;
}

#form-register{
    border: 1px solid lightgrey;
    min-height: 1000px;
    border-radius: 20px;
    margin: 20px;
    padding: 5%;
    margin: 2% 15% 5% 15%;
    box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
}


.proCont{
    display: block;
    text-align: right;
}

.proCont > #name {
    font-size: 4vw;
    font-weight: 600;
    font-style: italic;
}

.proCont > #email, #loca {
    font-size: 1.1vw;
    color: grey;
}
 
.Contt {
    font-size: 1.2vw;
    font-weight: 600;
    color: rgb(68, 68, 68);
    margin: 2% 1% 2% 1%;
}

.normal_btn{
    padding: 3px 16px;
    letter-spacing: -0.5px;
    border-radius: 20px;
    border: 1px solid rgb(228, 228, 228);
    color: rgb(68, 68, 68);
    cursor: pointer;
    margin: 5px;
  }

  .normal_btn:hover{
    color: white;
    transition: 0.4s;
    background-color: #444;
  }

.stackBtn {
    font-size: 16px;
    line-height: 30px;
}

.plusBtn {
    font-size: 12px;
    line-height: 25px;
}

.inText {
    width: 40%;

}

input#portfolio, #etc, .inText{
    height: 30px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
  }

#etc, #portfolio {
    width: 80%;
}

button.sendBtn {
    display: block;
    position: relative;
    float: left;
    width: 100px;
    padding: 0;
    margin: 60px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    color: #FFF;
    border-radius: 15px;
    transition: all 0.1s ;
    border: 0px;
}

.btnBlue {
    background: rgb(102, 132, 154);
}

.btnFade.btnBlue:hover {
    background: rgb(55, 83, 103);
}

.button {
    float: right;
}

.footer{
    position: relative;
}

body::-webkit-scrollbar{
    width: 10px;
  }
body::-webkit-scrollbar-thumb{
    height: 50px;
    background-color: rgb(183, 200, 213);
    border-radius: 15px;
}
body::-webkit-scrollbar-track{
    background-color: white;
}

@media screen and (max-width: 650px){
    #form-register{
        margin: 2% 5% 5% 5%;
    }

    .stackBtn {
        font-size: 12px;
        line-height: 22px;
    }
}