@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.all {
  position: relative;
}

.main-nav {
  position: fixed;
  z-index: 9999;
}

.main-img {
    width: 40%;
    position: absolute;
    z-index: 999;
    margin-top: 10%;
    margin-left: 5%;
}

.test-img {
  scale: 0.5;
}

.content {
    position: absolute;
    font-size: 4vw;
    font-weight: 800;
    text-align: left;
    left: 10%;
    margin-top: 7%;
    color: rgb(22, 38, 60);
    z-index: 999;
    animation: fadeInUp 1.5s;
}

.login_div {
  animation: fadeInUp 1.5s;
}

.our_ser {
  font-size: 3vw;
  font-weight: 600;
}


.first-back {
  position: relative;
  width: 100%;
  height: 300px;
  margin: auto;
}

.second-back {
  position: relative;
  width: 100%;
  height: 700px;
  margin: auto;
  background: linear-gradient(white,rgb(150, 163, 192));
}

.intro-back {
  position: relative;
  width: 100%;
  height: 2000px;
  margin: auto;
  background-color: rgb(150, 163, 192);
}

.serQ {
  scale: 0.6;
  margin-top: 1%;
}

.serLine {
  position: absolute;
  border-left : 2px dotted rgb(22, 38, 60);;
  height : 1000px;
  margin-left: 50%;
  transform: translate(-50%, -2%);
}

/* box1111111111 */
.box1 {
  margin-bottom: 5%;
}

.box1 > img {
  display: inline-block;
  border-radius: 10px;
  max-width: 35%;
  height: auto;
  margin-left: -4.5%;
  box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
}

.serCont1 {
  display: inline-block;
  margin-left: 10%;
  color: white;
  text-shadow: 2px 2px 2px gray;
  font-family: 'Pretendard-Regular';
}


/* box2222222 */
.box2 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.box2 > img {
  display: inline-block;
  border-radius: 10px;
  max-width: 35%;
  height: auto;
  margin-right: -7.3%;
  box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
}

.serCont2 {
  display: inline-block;
  margin-right: 10%;
  color: white;
  text-shadow: 2px 2px 2px gray;
  font-family: 'Pretendard-Regular';
}

.con1 {
  font-weight: 700;
  font-size: 2.5vw;
}

.con2 {
  font-weight: 500;
  font-size: 1.2vw;
}

/* 애니메이션 */
@keyframes fadeInUp {
  0% {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fadein {
  opacity:0;
  margin-bottom:-100px;    
  max-width:100%;
}

body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-thumb{
  height: 50px;
  background-color: rgb(183, 200, 213);
  border-radius: 15px;
}
body::-webkit-scrollbar-track{
  background-color: white;
}